{% extends 'base.html.twig' %}


{% block body %}
<div class="container mt-4">
  <div class="row">
    <div class="col-md-12">
      <h1>{{ trick.Name }}</h1>
      <p>{{ trick.description }}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <p> Prochainement une photo </p>
    </div>
    <div class="col-md-6">
      <p> Prochainement une vidéo </p>
    </div>
  </div>
</div>
{% endblock %}
