{% extends 'base.html.twig' %}

{% block body %}
<div class="container mt-4">
  <h2>Ajouter un trick</h2>
  {{ include ('user/trick/_form.html.twig', {form: form, button: 'Ajouter'}) }}

</div>

{% endblock %}
